[Desktop Entry]
Version=1.0
Name=HEllo
Comment=A simple Qt application
Exec=/opt/HEllo/bin/HEllo
Icon=/usr/share/icons/hicolor/256x256/apps/HEllo.png
Terminal=false
Type=Application
Categories=Utility;
