#!/usr/bin/make -f

%: 
	dh $@

override_dh_auto_build:
	# Run PyInstaller to build the executable
	bash run.sh

override_dh_auto_install:
	mkdir -p debian/ump3/usr/bin
	mkdir -p debian/ump3/usr/share/ump3
	cp dist/widget debian/ump3/usr/bin/ump3
	cp main.qml debian/ump3/usr/share/ump3/
	cp MetadataPopup.qml debian/ump3/usr/share/ump3/
	cp sure.png debian/ump3/usr/share/ump3/

override_dh_strip:
	# PyInstaller already strips the executable

override_dh_auto_test:
	# No automated tests for now
